* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 375px;
  height: 1080px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 375px;
  height: 375px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 375px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 474px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: center;
}
.v1_5 {
  width: 375px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 519px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
